<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Berbagi Air Admin Page - Home</title>
      <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
      <style>
        .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          user-select: none;
        }

        @media (min-width: 768px) {
          .bd-placeholder-img-lg {
            font-size: 3.5rem;
          }
        }

        .b-example-divider {
          height: 3rem;
          background-color: rgba(0, 0, 0, .1);
          border: solid rgba(0, 0, 0, .15);
          border-width: 1px 0;
          box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
        }

        .b-example-vr {
          flex-shrink: 0;
          width: 1.5rem;
          height: 100vh;
        }

        .bi {
          vertical-align: -.125em;
          fill: currentColor;
        }

        .nav-scroller {
          position: relative;
          z-index: 2;
          height: 2.75rem;
          overflow-y: hidden;
        }

        .nav-scroller .nav {
          display: flex;
          flex-wrap: nowrap;
          padding-bottom: 1rem;
          margin-top: -1px;
          overflow-x: auto;
          text-align: center;
          white-space: nowrap;
          -webkit-overflow-scrolling: touch;
        }
      </style>
      <!-- Custom styles for this template -->
      <link href="/stylesheets/headers.css" rel="stylesheet">
      <link href="/stylesheets/dashboard.css" rel="stylesheet">
      <!-- <script src="/tabletoexcel.js"></script> -->
  </head>
  <body>
    <main>
      <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
          <% 
          var userName = user.connectUserId.slice(6);
          var userNames = [];
          var isSuper = false;
          if (userName.match("BerbagiAir2023")) {
            userName = user.connectUserId.replace("simple","[Super-Admin] ");
            userNames = userName.split(" ");
            isSuper = true;
          } else {
            userName = user.connectUserId.replace("simple","[Sub-Admin] ");
            userNames = userName.split(" ");
          }
          %>
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="/home" class="nav-link active" aria-current="page">Room List</a></li>
            <% if (isSuper) { %>
              <li class="nav-item"><a href="/signup" class="nav-link">Create a new Sub Admin Account</a></li>
            <% } %>
            <li class="nav-item"><a href="/logout" class="nav-link">Logout from <strong><%= userNames[0] %></strong> <%= userNames[1] %></a></li>
          </ul>
          <div class="col-md-3 text-end">
            <!-- <button class="btn btn-md btn-outline-primary" onclick="tableToExcel()">Export to Excel</button> -->
            <!-- <button class="btn btn-md btn-outline-primary">Create Room</button> -->
            <form method="get" action="/createroom">
              <button class="btn btn-md btn-outline-primary" type="submit">Create Room</button>
            </form>
            <!-- <script>
              function tableToExcel(){
                var table2excel = new Table2Excel();
                table2excel.export(document.querySelectorAll("table.table"));
              }
            </script> -->
          </div>
        </header>
      </div>
      <% if (user == null) {%>
        <h1 class="d-flex justify-content-center py-5">Please login!</h1>
      <%} else {%>
        <div class="table-center">
          <div class="table-responsive col-sm-9 ms-sm-auto col-lg-auto px-md-5">
            <%
            if (rooms.roomList.length == 0) {
              %>
              <div class="py-2">
                <h1 class="d-flex justify-content-center">Room List is empty</h1>
                <h5 class="d-flex justify-content-center">Please create a new Room</h5>
              </div>
              <%
            } else { %>
            <table class="table table-striped table-hover table-md caption-top" id="roomData">
              <caption>List of created rooms</caption>
              <thead class="table-dark">
                <tr>
                  <th scope="col">Room Name</th>
                  <th scope="col">Framing</th>
                  <th scope="col">Sanksi</th>
                  <th scope="col">Result</th>
                </tr>
              </thead>
              <tbody class="table-group-divider">
                <% 
                var framing = "Tanpa Framing";
                var sanksi = "Tanpa Sanksi";
                
                for (let i = 0; i < rooms.roomList.length; i++){ %>
                  <%
                  // console.log(rooms.roomList[i]);
                  if (rooms.roomList[i].framing == 1 || rooms.roomList[i].framing == '1') {
                    framing = "Framing Untung";
                  } else if (rooms.roomList[i].framing == 2 || rooms.roomList[i].framing == '2'){
                    framing = "Framing Rugi";
                  } else {
                    framing = "Tanpa Framing";
                  }
                  // console.log(rooms.roomList[i].sanksi);
                  if (rooms.roomList[i].sanksi == 1 || rooms.roomList[i].sanksi == '1'){
                    sanksi = "Dengan Sanksi";
                  } else {
                    sanksi = "Tanpa Sanksi"
                  }
                  %>
                  <tr>
                    <td><%= rooms.roomList[i].roomName %></td>
                    <td><%= framing %></td>
                    <td><%= sanksi %></td>
                    <!-- <td><button id="viewBtn" class="w-25 btn btn-sm btn-primary" value="<%= i %>">View</button></td> -->
                    <td><form method="post" action="/result">
                      <input type="hidden" name="viewroom" value="<%= i %>">
                      <input type="hidden" name="viewroomName" value="<%= rooms.roomList[i].roomName %>">
                      <input type="hidden" name="viewroomFraming" value="<%= rooms.roomList[i].framing %>">
                      <input type="hidden" name="viewroomSanksi" value="<%= rooms.roomList[i].sanksi %>">
                      <button class="w-25 btn btn-sm btn-dark" type="submit">View</button>
                    </form></td>
                  </tr>
                <% };
                %>
              </tbody>
            </table>
            <% } %>
          </div>
        </div>
      <%}%>
    </main>
  </body>
</html>